.contact__form {
  margin: 0;
  padding-left: 15px;
  border: 1px solid rgba(0, 0, 0, 0.233);
  width: 600px;
}

.input__number,
.input__name {
  margin-top: 10px;
  display: flex;
  margin-bottom: 15px;
  width: 500px;
  margin-left: 30px;
  height: 40px;
}

.input__title {
  font-style: 900;
  font-size: 20px;
}

.btn__add {
  margin-bottom: 10px;
  height: 30px;
  color: black;
  background-color: cadetblue;
}
